---
---

.previews {
    padding: 2.5em;
}

.previews--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 3.25em;
}

.preview {
    max-width: 100%;
    background: white;
    padding: 1.5em;
    color: #202020;
    border-radius: 6px;
    box-shadow: 7px 5px 7px #000;
    h1 {
        font-size: 1.75rem;
        font-weight: bold;
        margin-top: 0.5em;
    }
    .preview__content {
        // Cut off at 4 lines
        // Credit: https://css-tricks.com/line-clampin/#weird-webkit-flexbox-way
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
}

@media only screen and (min-width: 1280px) {
    .previews--grid {
        gap: 4em;
    }
}