---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const classList = await getCollection("members");
const currentClasses = classList.filter(({ id }) => !id.startsWith("alumni/")).sort((a, b) => parseInt(a.id) - parseInt(b.id));
const alumni = classList.filter(({ id }) => id.startsWith("alumni/")).sort((a, b) => parseInt(a.id.split("/")[1]) - parseInt(b.id.split("/")[1]));
---

<Layout
  title="Member Directory"
  description="Directory of all members of ACM@UC"
>
  <h1 class="mt-12 mx-20 text-3xl">ACM@UC Member Directory</h1>

  <div class="my-8 flex flex-wrap justify-center gap-4 bg-neutral-800">
    {
      currentClasses.map((classItem) => (
        <a
          class="p-8 !text-red transition-colors hover:bg-red hover:!text-black"
          href={`/members/${classItem.id}`}
        >
          <h2 class="text-xl flex text-center">
            Class of
            <br />
            <span class="text-white contents">{classItem.id}</span>
          </h2>
        </a>
      ))
    }
  </div>
  <h2 class="mt-8 mx-20 text-2xl">Alumni</h2>
  <div class="my-4 mx-8 grid grid-cols-[repeat(auto-fit,_minmax(8rem,_auto))] gap-2">
    {
      alumni.reverse().map(({ id }) => (
        <h3 class="text-2xl contents">
          <a
            class="min-w-20 w-full block bg-neutral-800 !text-red text-center py-8 font-display transition-colors hover:bg-red hover:!text-white"
            href={`/members/${id.split("/")[1]}`}
          >
            {id.split("/")[1]}
          </a>
        </h3>
      ))
    }
  </div>
</Layout>
