<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if page.title %} {{ page.title }} - {{ site.title }} {% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}">

    {% include meta.html %}

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,700">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="container page">
    <nav class="page__nav">
      {% include nav.html %}
    </nav>

    <main class="page__main">
