{% for node in pages_list %}

    {% if group == null or group == node.group %}

        {% if page.url == node.url %}
            <li><a class="active" href="{{ node.url }}">{{ node.title }}</a></li>
        {% elsif node.order != 0 %}
            <li><a href="{{ node.url }}">{{ node.title }}</a></li>
        {% endif %}

    {% endif %}

{% endfor %}
<hr>
<h4 style="margin: 10px 0px">Our Friends:</h4>
<li><a href="https://revolutionuc.com/" target="_blank">RevolutionUC</a></li>
<li><a href="https://makeuc.io/" target="_blank">MakeUC</a></li>
<li><a href="https://www.acmwuc.org" target="_blank">ACM-W@UC</a></li>


{% assign pages_list = nil %}
{% assign group = nil %}
