@import 'variables';

@import 'components/type';
@import 'components/contain';
@import 'components/page';
@import 'components/nav';
@import 'components/executives';
@import 'components/_members';

.notice {
    width: 100%;
    background-color: #fcf8e3;
    border: 1px solid transparent;
    padding: .75rem 1.25rem;
}