// Colors
// ---
$color-white: #fff;
$color-black: #333;
$color-gray:  #ccc;
$color-red:  #ff5959;


// Fonts
// ---
$heading-font-weight: 700;
$paragraph-font-weight: 400;
$paragraph-line-height: 1.5;

$base-font-size: 17px;

$heading-font-family: 'Open Sans', sans-serif;
$paragraph-font-family: 'Open Sans', sans-serif;

// Breakpoints
// ---
$mobile-breakpoint: 900px;
