@use "./theme.scss" as theme;

body {
  font-family: theme.$font-body;
  margin: 0;
  box-sizing: border-box;
  background: theme.$gray-900;
  color: theme.$gray-100;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: theme.$font-display;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

:any-link {
  color: theme.$red-500;
}
:any-link:hover {
  color: theme.$red-400;
}
:any-link:visited {
  color: theme.$red-700;
}
:any-link:visited:hover {
  color: theme.$red-600;
}
