@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$red-100: #fde9e8;
$red-200: #f8beba;
$red-300: #f3938c;
$red-400: #ee685d;
$red-500: #e83224; // color picked from logo
$red-600: #d02316;
$red-700: #a21b11;
$red-800: #73130c;
$red-900: #450c07;
$red-950: #170402;

$white: white;
$gray-100: #f1f1f1;
$gray-200: #d4d4d4;
$gray-300: #b8b8b8;
$gray-400: #9c9c9c;
$gray-500: #808080;
$gray-600: #636363;
$gray-700: #474747;
$gray-800: #2a2a2a;
$gray-900: #0e0e0e;
$gray-850: color-mix(in srgb, $gray-800, $gray-900 50%);
$black: black;

$font-display: Montserrat, sans-serif;
$font-body: "Open Sans", sans-serif;