---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
  const meetings = await getCollection("meetings");

  return meetings.map((meeting) => ({
    params: { meeting: meeting.id },
    props: { meeting },
  }));
}

const { meeting } = Astro.props;
const { Content } = await render(meeting);
---

<Layout
  title={meeting.data.title}
  description={meeting.data.title}
>
  <main class="max-w-full md:max-w-4xl mx-auto mt-12 px-6 mb-20">
    <h1 class="text-xl md:text-2xl font-bold text-red">{meeting.data.title}</h1>
    <p class="text-lg">
      Date: {new Date(meeting.data.date).toISOString().split("T")[0]}
    </p>
    {meeting.data.speaker && <p class="text-lg">Speaker: {meeting.data.speaker}</p>}
    <hr class="my-4" />
    <article class="">
      <Content />
    </article>
  </main>
</Layout>
