---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="ACM@UC - Check In"
  description="ACM@UC Check In Page"
>
  <div class="mt-12 px-10 pb-10 space-y-4 max-w-full w-[800px] self-center">
    <h1 class="text-2xl">Check-In</h1>
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSdStdABUyyXlpjK50Z2VceD_RFhtBUXprCAHRy6b2hJ5eaL-Q/viewform?embedded=true"
      class="w-full h-[1293px]"
    >
      Loading…
    </iframe>
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSdStdABUyyXlpjK50Z2VceD_RFhtBUXprCAHRy6b2hJ5eaL-Q/viewform?usp=dialog"
      target="_blank"
      rel="noopener noreferrer"
    >
      Form not loading? Click here to open in a new tab.
    </a>
  </div></Layout
>
