---
import Layout from "../layouts/Layout.astro";

---

<Layout
  title="ACM@UC - Check In"
  description="ACM@UC Check In Page"
>
  <div class="mt-12 px-10 pb-10 space-y-4 max-w-full w-[800px] self-center">
    <h1 class="text-2xl">Check-In</h1>
    <iframe
      src="https://docs.google.com/forms/d/1CYPl0mY3hc8w78gmU78W52xZ4p-9r5J3K3IgcfWsGLs/viewform?embedded=true"
      class="max-w-full w-[800px] h-[1161px] rounded-lg"
    >
      Loading…
    </iframe>
  </div>
</Layout>