---
import Layout from "../layouts/Layout.astro";
import { marked } from "marked";
const constitution = await fetch("https://raw.githubusercontent.com/ACMatUC/constitution/refs/heads/master/constitution.md");
const data = await constitution.text();
const content = marked.parse(data);

const commitRequest = await fetch("https://api.github.com/repos/acmatuc/constitution/commits/master");
const commitData = await commitRequest.json();
const commitDateString = commitData["commit"]["author"]["date"] ?? commitData["commit"]["committer"]["date"];

const commitDate = commitDateString ? new Date(commitDateString) : new Date();
---

<Layout title="Constitution">
  <p class="mt-8 ml-12">Last changed: {commitDate.toDateString()}</p>
  <a
    href="https://github.com/ACMatUC/constitution"
    target="_blank"
    rel="noopener"
    class="ml-12 mb-8"
    >View Repository</a
  >
  <hr />
  <article
    class="prose prose-invert prose-neutral mx-8 mb-8 mt-12 lg:mx-20"
    set:html={content}
  />
</Layout>
