---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import AboutACM from "../components/AboutACM.astro";
import MainInfoBoxes from "../components/MainInfoBoxes.astro";
import Carousel from "../components/Carousel.astro";
---

<Layout
  title="ACM@UC - Home"
  description="ACM@UC Home Page"
>
  <!-- <Hero /> -->
  <div class="space-y-6">
    <AboutACM />
    <MainInfoBoxes />
    <Carousel dir="ltr" />
  </div>
</Layout>
