---
import Head from "../components/Head.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import AboutACM from "../components/AboutACM.astro";
import MainInfoBoxes from "../components/MainInfoBoxes.astro";

import "../styles/index.scss";

// const { frontmatter } = Astro.props;
const title = "ACM@UC - Home";
const description = "Hello, world!";

---

<html>
  <head>
    <Head
      title={title}
      description={description}
    />
  </head>
  <body>
    <Navbar />
    <!-- <Hero /> -->
    <AboutACM />
    <MainInfoBoxes />
    <Footer />
  </body>
</html>
