---
import Layout from "../layouts/Layout.astro";
import ResourceSection from "../components/ResourceSection.astro";

---

<Layout 
    title="ACM@UC - Resources"
    description="ACM@UC Resources Page"
>
    <h1 class="mt-12 mx-20 text-3xl">Resources</h1>
    <ResourceSection />
    <div class="pb-20"></div>
</Layout>