---
import Layout from "../layouts/Layout.astro";
import ResourceSection from "../components/ResourceSection.astro";

---

<Layout 
    title="ACM@UC - Resources"
    description="ACM@UC Resources Page"
>
    <div class="mt-12 px-10 md:px-24">
        <h1 class="text-2xl pb-6">Resources</h1>
        <ResourceSection />
    </div>
</Layout>