---

---
<img src="/assets/acm-wide-transparent.png" alt="ACM-W@UC Logo" class="px-10"/>
<div class="flex justify-center">
    <div class="w-4/5 lg:w-3/4 space-y-4">
        <h1 class="text-2xl lg:text-4xl text-left">About <span class="text-red-500">ACM@UC</span></h1>
        <div class="space-y-4 lg:text-xl">
            <p>
                ACM@UC (student chapter of the Association for Computing Machinery at the
                University of Cincinnati) is the University of Cincinnati's computer science and
                programming community.
            </p>
            <p>    
                Our student organization educates students about popular technology through
                workshops, presentations, and informational lectures by professors, guest
                speakers, and students. We host biweekly <a href="/meetings" target="_blank" rel="noopener noreferrer" class="font-bold">meetings</a>, weekly office
                hours, social events, and <a href="https://revolutionuc.com" target="_blank" rel="noopener noreferrer" class="font-bold">RevolutionUC</a>, the
                university's student hackathon.
            </p>   
            <p>
                ACM@UC is open to all majors and official <a href="https://www.acm.org" target="_blank" rel="noopener noreferrer" class="font-bold">ACM</a> membership is
                not required to participate.
            </p>
        </div>
    </div>  
</div>