---

---
<img src="/assets/acm-wide-transparent.png" alt="ACM-W@UC Logo" class="px-10"/>
<div class="px-24 py-8 space-y-4">
    <h1 class="text-3xl">About <span class="text-red-500">ACM@UC</span></h1>
    <div class="space-y-4 px-12 pb-3 text-lg">
        <p>
            ACM@UC (student chapter of the Association for Computing Machinery at the
            University of Cincinnati) is the University of Cincinnati's computer science and
            programming community.
        </p>
        <p>    
            Our student organization educates students about popular technology through
            workshops, presentations, and informational lectures by professors, guest
            speakers, and students. We host biweekly <a href="/meetings" target="_blank" rel="noopener noreferrer" class="font-bold">meetings</a>, weekly office
            hours, social events, and <a href="https://revolutionuc.com" target="_blank" rel="noopener noreferrer" class="font-bold">RevolutionUC</a>, the
            university's student hackathon.
        </p>   
        <p>
            ACM@UC is open to all majors and official <a href="https://www.acm.org" target="_blank" rel="noopener noreferrer" class="font-bold">ACM</a> membership is
            not required to participate.
        </p>
    </div>

    <!-- <div>
        <h2 class="text-lg px-4">Getting Involved</h2>
        <p class="px-8">
            Join us on <a href="https://discord.gg/6aYBT6s" target="_blank" rel="noopener noreferrer">Discord</a> to stay up to date with the
            ACM@UC community. Subscribe to ACM@UC on the <a href="https://goo.gl/forms/7knxbQIMLY0hX3Q33" target="_blank" rel="noopener noreferrer">UC Listserv</a>, join our
            page on <a href="https://campuslink.uc.edu/organization/acmatuc" target="_blank" rel="noopener noreferrer">CampusLINK</a>, and follow
            <a href="https://x.com/ACMatUCorg" target="_blank" rel="noopener noreferrer">@ACMatUCorg</a> on X or on
            <a href="https://www.linkedin.com/company/acm-uc" target="_blank" rel="noopener noreferrer">LinkedIn</a>.
        </p>
    </div>

    <div>
        <h2 class="text-lg px-4">Contact</h2>
        <p class="px-8">
            Got a question or an idea? <a href="https://discord.gg/6aYBT6s" target="_blank" rel="noopener noreferrer">Join our Discord server</a>, or <a href="mailto:acmatcinci@gmail.com" target="_blank" rel="noopener noreferrer">send us an email</a>.
        </p>
    </div> -->
</div>