---

---
<div class="flex justify-center">
    <div class="w-4/5 max-w-4xl space-y-30">
        <div>
            <p class="text-3xl text-left font-semibold pb-4">Who Are We?</p>
            <div class="space-y-2 text-lg">
                <p>
                    <span class="text-red-500 font-bold">ACM@UC</span> is the University of Cincinnati’s student chapter of the Association for Computing Machinery, bringing together students interested in computer science and programming.
                </p>
                <p>    
                    Our student organization educates students about popular technology through
                    workshops, presentations, and informational lectures by professors, guest
                    speakers, and students. We host biweekly <a href="/meetings" target="_blank" rel="noopener noreferrer" class="underline text-red-400">meetings</a>, weekly office
                    hours, social events, and <a href="https://revolutionuc.com" target="_blank" rel="noopener noreferrer" class="underline text-red-400">RevolutionUC</a>, the
                    university's student hackathon.
                </p>   
                <p>
                    ACM@UC is open to all majors and official <a href="https://www.acm.org" target="_blank" rel="noopener noreferrer" class="underline text-red-400">ACM</a> membership is
                    not required to participate.
                </p>
            </div>
        </div>
        <div>
            <p class="text-3xl text-left font-semibold pb-4">Join Our Community</p>
            <p class="pb-4 italic text-lg">Meet like-minded tech enthusiasts, expand your skills, and have fun doing it!</p>
            <div class="flex flex-wrap gap-8 font-semibold text-2xl">
                <p class="w-full sm:w-1/3 md:w-1/4">
                    <span class="text-red-500 text-4xl">200+</span><br/>Members
                </p>
                <p class="w-full sm:w-1/3 md:w-1/4">
                    <span class="text-red-500 text-4xl">100+</span><br/>Alumni
                </p>
                <p class="w-full sm:w-1/3 md:w-1/4">
                    <span class="text-red-500 text-4xl">100+</span><br/>Events
                </p>
            </div>
        </div>
    </div>  
</div>