---
import { Image } from "astro:assets";
import logo from "../assets/acm-wide-transparent.png";

import { InstagramOutlined, DiscordOutlined, XOutlined, LinkedinFilled, GithubFilled, YoutubeFilled, MailOutlined } from "@ant-design/icons";
---

<footer class="mt-auto flex max-lg:flex-col bg-neutral-800 w-full min-h-80 h-fit justify-around px-12 pb-12 pt-4">
  <div class="mt-8">
    <Image
      src={logo}
      alt="ACM@UC logo"
      class="w-80 h-auto mb-8"
    />
    <ul class="flex items-center gap-4 mb-4">
      <li class="contents">
        <a
          target="_blank"
          rel="noopener"
          href="https://instagram.com/acmatuc"
          class="contents text-white"
        >
          <InstagramOutlined className="text-4xl hover:brightness-75 transition-all" />
        </a>
      </li>
      <li class="contents">
        <a
          target="_blank"
          rel="noopener"
          href="https://discord.gg/6aYBT6s"
          class="contents text-white"
        >
          <DiscordOutlined className="text-4xl hover:brightness-75 transition-all" />
        </a>
      </li>
      <li class="contents">
        <a
          target="_blank"
          rel="noopener"
          href="https://x.com/ACMatUCorg"
          class="contents text-white"
        >
          <XOutlined className="text-4xl hover:brightness-75 transition-all" />
        </a>
      </li>
      <li class="contents">
        <a
          target="_blank"
          rel="noopener"
          href="https://linkedin.com/company/acm-uc"
          class="contents text-white"
        >
          <LinkedinFilled className="text-4xl hover:brightness-75 transition-all" />
        </a>
      </li>
      <li class="contents">
        <a
          target="_blank"
          rel="noopener"
          href="https://github.com/acmatuc"
          class="contents text-white"
        >
          <GithubFilled className="text-4xl hover:brightness-75 transition-all" />
        </a>
      </li>
      <li class="contents">
        <a
          target="_blank"
          rel="noopener"
          href="https://www.youtube.com/@acmuc2095"
          class="contents text-white"
        >
          <YoutubeFilled className="text-4xl hover:brightness-75 transition-all" />
        </a>
      </li>
    </ul>
    <p>Student Chapter of ACM at University of Cincinnati</p>
    <p class="flex items-center gap-1 mt-2">
      <MailOutlined />
      <a href="mailto:acmatcinci@gmail.com">acmatcinci@gmail.com </a>
    </p>
  </div>
  <div class="mt-8">
    <h4>About</h4>
    <ul class="pl-1 mb-1">
      <li>
        <a
          href="/about"
          class="mb-2 !text-neutral-400 hover:!text-neutral-100"
          >About ACM@UC</a
        >
      </li>
      <li>
        <a
          href="/executives"
          class="mb-2 !text-neutral-400 hover:!text-neutral-100"
          >Executives</a
        >
      </li>
      <li>
        <a
          href="/code-of-conduct"
          class="mb-2 !text-neutral-400 hover:!text-neutral-100"
          >Code of Conduct</a
        >
      </li>
      <li>
        <a
          href="/constitution"
          class="mb-2 !text-neutral-400 hover:!text-neutral-100"
          >Constitution</a
        >
      </li>
      <li>
        <a
          href="/members"
          class="mb-2 !text-neutral-400 hover:!text-neutral-100"
          >Member Directory</a
        >
      </li>
    </ul>
  </div>
  <div class="mt-8">
    <h4>Meetings</h4>
    <ul class="pl-1 mb-1">
      <li>
        <a
          href="/meetings/[[TODO]]"
          class="mb-2 !text-neutral-400 hover:!text-neutral-100"
          >Last Meeting</a
        >
      </li>
      <li>
        <a
          href="/meetings"
          class="mb-2 !text-neutral-400 hover:!text-neutral-100"
          >Meeting Archive</a
        >
      </li>
      <li>
        <a
          href="/meetings/attendance"
          class="mb-2 !text-neutral-400 hover:!text-neutral-100"
          >Attendance Form</a
        >
      </li>
    </ul>
  </div>
  <div class="mt-8">
    <h4>Besties 😍❤️</h4>
    <ul class="pl-1 mb-1">
      <li>
        <a
          href="https://acmwuc.org"
          target="_blank"
          rel="noopener"
          class="mb-2 !text-neutral-400 hover:!text-neutral-100"
          >ACM-W@UC</a
        >
      </li>
      <li>
        <a
          href="https://revolutionuc.com/"
          target="_blank"
          rel="noopener"
          class="mb-2 !text-neutral-400 hover:!text-neutral-100"
          >RevolutionUC</a
        >
      </li>
      <li>
        <a
          href="https://makeuc.io"
          target="_blank"
          rel="noopener"
          class="mb-2 !text-neutral-400 hover:!text-neutral-100"
          >MakeUC</a
        >
      </li>
      <li>
        <a class="mb-2 !text-neutral-400 hover:!text-neutral-100">IEEE</a>
      </li>
    </ul>
  </div>
</footer>
