---

---

<div class="flex items-center justify-center h-[60vh] text-white">
  <div class="w-4/5 max-w-4xl lg:w-full flex flex-col md:flex-row items-center justify-center space-x-5">
      <img src="/assets/acm-square.png" alt="ACM-W@UC Logo" class="w-62"/>
      <p class="text-[42px] font-bold leading-tight text-left">
        UC's Largest Community for <span class="text-red-500">Computer Science</span> 
      </p>
  </div>
</div>