---
import { Picture } from "astro:assets";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const images = await getCollection("heroImages");
---

<div class="grid place-items-center w-full max-md:h-[calc(100svh-4rem)] min-md:max-h-128 min-md:h-lvh overflow-clip mb-12">
  <Image
    src={images[0].data.landscape}
    alt={images[0].data.alt}
    class="object-cover object-center min-h-full min-w-full max-md:hidden"
  />
  <Image
    src={images[0].data.portrait}
    alt={images[0].data.alt}
    class="object-cover object-bottom min-h-full min-w-full min-md:hidden"
  />
</div>

<!-- <div class="flex items-center justify-center h-[60vh] text-white">
  <div class="w-4/5 max-w-4xl lg:w-full flex flex-col md:flex-row items-center justify-center space-x-5">
    <img
      src="/assets/acm-square.png"
      alt="ACM-W@UC Logo"
      class="w-62"
    />
    <p class="text-[42px] font-bold leading-tight text-left">
      UC's Largest Community for <span class="text-red-500">Computer Science</span>
    </p>
  </div>
</div> -->
