---

---

<div class="flex justify-center">
  <div class="w-4/5 max-w-4xl justify-center text-black gap-8">
    <p class="text-3xl text-white pb-4 font-semibold">Upcoming Events and Meetings</p>
    <div class="grid md:grid-cols-2 gap-x-12 gap-y-5">
      <!-- Announcement  -->
      <div class="bg-neutral-100 hover:bg-neutral-200 min-w-fit rounded-2xl shadow-md hover:shadow-xl p-5">
        <p class="text-xl text-red-500 font-semibold">RevolutionUC Hackathon</p>
        <div class="border-b border-gray-400 my-1.5"></div>
        <p class="pb-2 italic">Join us at UC's largest annual hackathon</p>
        <p class="font-semibold">Date: March 28th - 29th</p>
        <p class="font-semibold pb-4">Location: 1819 Innovation Hub</p>
      </div>

      <!-- Blog Post -->
      <!-- <div class="bg-neutral-100 hover:bg-neutral-200 min-w-fit rounded-2xl shadow-md hover:shadow-xl p-5">
                <p class="text-xl text-red-500 font-semibold">ACM Election</p>
                <div class="border-b border-gray-300 my-1.5"></div>
                <p class="pb-2 italic">description</p>
                <p class="font-semibold">Date: April 23rd, 2025</p>
                <p class="font-semibold pb-4">Location: CRC 3250</p>
            </div> -->
    </div>
  </div>
</div>
