---

---

<div class="px-10 md:px-24 py-4 grid grid-cols-1 md:grid-cols-3 justify-center text-black gap-8">

    <!-- Links and Friends -->
    <div class="flex md:flex-col gap-4">
        <div class="w-1/2 md:w-full bg-white rounded-xl shadow-md hover:shadow-xl p-4 transform transition-transform duration-200 hover:scale-[1.02]">
            <h3 class="text-md">Useful Links</h3>
            <div class="border-b border-gray-300 my-2"></div>
            <ul class="space-y-1">
                <li>
                    <a href="/meetings" target="_blank" rel="noopener noreferrer">Meeting Archive</a>
                </li>
                <li>
                    <a href="https://goo.gl/forms/7knxbQIMLY0hX3Q33" target="_blank" rel="noopener noreferrer">UC Listserv</a>
                </li>
                <li>
                    <a href="https://campuslink.uc.edu/organization/acmatuc" target="_blank" rel="noopener noreferrer">CampusLINK</a>
                </li>
                <li>
                    <a href="https://discord.gg/6aYBT6s" target="_blank" rel="noopener noreferrer">Discord</a>
                </li>
            </ul>
        </div>
        <div class="w-1/2 md:w-full bg-white rounded-xl shadow-md hover:shadow-xl p-4 transform transition-transform duration-200 hover:scale-[1.02]">
            <h3 class="text-md">Friends</h3>
            <div class="border-b border-gray-300 my-2"></div>
            <ul class="space-y-1">
                <li>
                    <a href="https://acmwuc.org" target="_blank" rel="noopener" class="">ACM-W@UC</a>
                </li>
                <li>
                    <a href="https://revolutionuc.com/" target="_blank" rel="noopener" class="">RevolutionUC</a>
                </li>
                <li>
                    <a href="https://makeuc.io" target="_blank" rel="noopener" class="">MakeUC</a>
                </li>
                <li>
                    <a href="https://ieee.uc.edu/" target="_blank" rel="noopener" class="">IEEE</a>
                </li>
            </ul>
        </div>
    </div>


    <!-- Announcement  -->
    <div class="bg-white min-w-fit rounded-xl shadow-md hover:shadow-xl p-4 transform transition-transform duration-200 hover:scale-[1.02]">
        <h3 class="text-md">Announcement</h3>
        <div class="border-b border-gray-300 my-2"></div>
        <p>Join us for our next meeting on DATE at TIME!!</p>
        <img src="/src/assets/announcement.jpg" alt="Meeting Annoucement" class="w-full h-auto max-h-60 object-cover rounded-xl mt-4 justify-self-center"/>
    </div>


    <!-- Blog Post -->
    <div class="bg-white min-w-fit rounded-xl shadow-md hover:shadow-xl p-4 transform transition-transform duration-200 hover:scale-[1.02]">
        <h3 class="text-md">Blog Post</h3>
        <div class="border-b border-gray-300 my-2"></div>
        <p>blog post???</p>
    </div>
    

</div>