---
import { getCollection } from "astro:content";

import acmWideTransparent from "../assets/acm-wide-transparent.png";
import acmWideTransparentBlack from "../assets/acm-wide-transparent-black.png";
import { Image } from "astro:assets";

import { InstagramOutlined, DiscordOutlined, XOutlined, LinkedinFilled } from "@ant-design/icons";

const allClasses = await getCollection("members");
---

<nav class="bg-neutral-800 flex justify-between h-16 px-2">
  <span class="flex">
    <a
      href="/"
      class="w-max hover:bg-red transition-colors"
    >
      <Image
        src={acmWideTransparent}
        alt="ACM@UC Logo"
        class="h-16 w-auto hover:opacity-0 transition-opacity"
      />
      <Image
        src={acmWideTransparentBlack}
        alt="ACM@UC Logo"
        class="absolute top-0 h-16 w-auto opacity-0 hover:opacity-100 transition-opacity"
      />
    </a>
    <menu class="flex gap-1">
      {
        [
          ["Resources", "/resources"],
          ["Executives", "/executives"],
          ["Members", "/members"],
          ["Meetings", "/meetings"],
          ["Blog", "/blog"],
        ].map(([title, url]) => (
          <li class="contents">
            <a
              href={url}
              class="font-bold h-16 px-3 uppercase font-display flex justify-center items-center hover:bg-red transition-colors"
            >
              <span class="text-white">{title}</span>
            </a>
          </li>
        ))
      }
    </menu>
  </span>
  <ul class="flex gap-1">
    <a
      target="_blank"
      rel="noopener"
      href="https://instagram.com/acmatuc"
      class="h-16 w-16 grid place-items-center hover:bg-instagram transition-colors"
    >
      <InstagramOutlined className="text-2xl text-white" />
    </a>
    <a
      target="_blank"
      rel="noopener"
      href="https://discord.gg/6aYBT6s"
      class="h-16 w-16 grid place-items-center hover:bg-discord transition-colors"
    >
      <DiscordOutlined className="text-2xl text-white" />
    </a>
    <a
      target="_blank"
      rel="noopener"
      href="https://x.com/ACMatUCorg"
      class="h-16 w-16 grid place-items-center hover:bg-white transition-all group"
    >
      <XOutlined className="text-2xl text-white group-hover:text-black transition-colors" />
    </a>
    <a
      target="_blank"
      rel="noopener"
      href="https://linkedin.com/company/acm-uc"
      class="h-16 w-16 grid place-items-center hover:bg-linkedin transition-colors"
    >
      <LinkedinFilled className="text-2xl text-white" />
    </a>
  </ul>
</nav>
