div.executive {
  text-align: center;
  border-top: 1px solid $color-gray;
  margin: 20px 0;

  img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
  }
  img.icon {
    position: relative;
    top: 5px;
    padding-right: 5px;
    padding-left: 25px;
    border-radius: 0;
    width: auto;
    height: auto;
  }
  span {
    display:block;
  }
}
