@media (min-width: $mobile-breakpoint) {
  .page {
    display: flex;
  }

  .page__nav {
    width: 20%;
  }

  .page__main {
    width: 80%;
    margin-top: 15px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .hero-image {
    width: 335px;
  }
}
