* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-size: $base-font-size;
  font-family: $paragraph-font-family;
  color: $color-black;

  @media (min-width: $mobile-breakpoint) {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}

p {
  line-height: $paragraph-line-height;

  @media (min-width: $mobile-breakpoint) {
    line-height: 1.6;
  }
}

.hero-image {
  display: block;
  margin: 0 auto;
}

a {
  color: $color-red;
}

hr {
  border: 0;
  border-top: 2px solid $color-gray;
}

.list-inline {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;
    margin: 0;
    padding: 0;
  }
}
