<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  {% include meta.html %}

  <title>{% if page.title %} {{ page.title }} - {{ site.title }} {% else %}{{ site.title }}{% endif %}</title>

  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/article.css">
</head>

<body class="bg-gray-900 h-screen text-white">
  <header class="page-header">
    <h1>ACM<span>@UC</span> the <span>blog</span></h1>
    <nav>
      <ul>
        <li><a href="./home.html">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact us</a></li>
      </ul>
    </nav>
  </header>
  {{content}}
</body>

</html>