<md-sidenav-layout>
  <md-sidenav #sidenav>
    <md-nav-list (click)="sidenav.close()">
      
      <a md-list-item [routerLink]="['Example']">
        <span md-line>Example</span>
        <span md-line class="secondary">If you click me, peep the console</span>
      </a>
      
      <a md-list-item [routerLink]="['Example']">
        <span md-line>Nuther Example</span>
        <span md-line class="secondary">We should put icons to the left</span>
      </a>
      
    </md-nav-list>
  </md-sidenav>
  
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
    <p>{{title}}</p>
  </md-toolbar>

  <div class="content">
    <h2>Association of Computing Machinery at Unviersity of Cincinnati</h2>
    <router-outlet></router-outlet>
  </div>

</md-sidenav-layout>