---
import Navbar from "../components/Navbar.jsx";
import Footer from "../components/Footer.astro";

import "../styles/app.css";

interface Props {
  title: string;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html>
  <head>
    <title>{title} | ACM@UC</title>
    {
      description && (
        <meta
          name="description"
          content={description}
        />
      )
    }
    <link
      rel="icon"
      href="/favicon.png"
    />
    <meta
      http-equiv="Content-Type"
      content="text/html; charset=utf-8"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <meta
      name="color-scheme"
      content="dark"
    />
  </head>
  <body class="bg-neutral-900 text-white min-h-screen flex flex-col justify-start">
    <Navbar client:load />
    <slot />
    <Footer />
  </body>
</html>
