<article>
  
  <md-card>
    <img style="display:block;margin:0 auto;" src="assets/img/acmlogo.png" alt="ACM@UC Logo">
    <p>
      We're the student chapter of the Association of Computing Machinery
      at the University of Cincinnati. ACM@UC is open to all majors and <b>acm.org</b>
      membership is not required to participate.
    </p>
  </md-card>
  
  <md-card>
    <md-card-title>Meetings</md-card-title>
    <p>
      Unless stated otherwise, ACM@UC meetings are held on alternating Thursdays at 6:00pm at room XXX in Swift Hall.
      Consult a <a href="https://www.uc.edu/content/dam/common/docs/maps/campus_map_west.pdf">campus map</a> to find Swift
      Hall if you are not familiar with the area.
      For more information about meetings and other ACM events, check the calendar below.      
    </p>
    <p>
      We have great speakers come in for our meetings and give tech talks and workshops to help the computing community at the University
      of Cincinnati grow.
    </p>
    <p>See <a href="https://github.com/acmatuc/archive">acmatuc/archive</a> on GitHub for links to slides and other resources from our meetings.</p>
    <img style="display:block;margin:0 auto;" src="assets/img/group.png" alt="ACM@UC Logo">
  </md-card>
  
  <md-card>
    <md-card-title>Upcoming events</md-card-title>
    <iframe src="https://calendar.google.com/calendar/embed?src=acmatcinci%40gmail.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </md-card>

</article>
