<article>
  
  <md-card>
    <md-card-title>ACM@UC</md-card-title>
    <p>
      We're the student chapter of the Association of Computing Machinery
      at the University of Cincinnati. ACM@UC is open to all majors and <b>acm.org</b>
      membership is not required to participate.
    </p>
  </md-card>
  
  <md-card>
    <md-card-title>Meetings</md-card-title>
    <p>
      Unless stated otherwise, ACM@UC meetings are held on alternating Thursdays at 6:00pm at room 601 in Swift Hall.
      Consult a <a href="https://www.uc.edu/content/dam/common/docs/maps/campus_map_west.pdf">map of UC</a> to find Swift Hall if you are not familiar with its location on campus.
    </p>
    <p>
      We have great speakers come in for our meetings and give tech talks and workshops to help the computing community at the University
      of Cincinnati grow.
    </p>
  </md-card>
  
  <md-card>
    <md-card-title>Upcoming events</md-card-title>
    <iframe src="https://calendar.google.com/calendar/embed?src=acmatcinci%40gmail.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </md-card>

</article>
